:root{
  --theme-color: #04AA6D;
  --theme-color-darker: #059862; 
}

.App {
  height: 100vh;
  background-color: rgb(112, 112, 112);
}

.main-logo {
  margin: auto 12px;
}
.main-logo:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
.header {
  height: 75px;
  min-height: 75px;
  background-color: white;
  display: flex;
  font-weight: 500;
  font-size: 20px;
  padding: 0 12px;
}
.header-menus {
  display: flex;
}
.header-menus > div {
  display: flex;
  align-items: center;
  padding: 0 12px 7px 12px;
}
.header-menus > div:hover {
  cursor: pointer;
  color: white;
  background-color: var(--theme-color);
}
.header-menus > div.clicked {
  color: white;
  background-color: rgb(40, 42, 53);
}
.header-menus > div > svg {
  margin-top: 4px;
}

.icon-list {
  display: flex;
  align-items: center;
}
.icon-list > svg {
  padding: 0 10px 2px 10px;
}
.icon-list > svg:hover {
  cursor: pointer;
  color: var(--theme-color);
}
.button-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button-list > [class*='btn-'] {
  margin: 0 5px;
}

[class*='btn-'] {
  border-radius: 30px;
  padding: 8px 25px;
  font-size: 16px;
}
[class*='btn-']:hover {
  cursor: pointer;
  background-color: var(--theme-color-darker);
}

.btn-1 {
  background-color: var(--theme-color);
  color: white;
  font-weight: bold;
  height: 25px;
}
.btn-2 {
  background-color: var(--theme-color);
  font-weight: bold;
  height: 25px;
}

.intro-panel {
  padding: 30px 0;
}
.intro-content {
  display: flex;
  justify-content: center;
}
.intro-content [class*='btn-'] {
  width: 155px;
  text-align: center;
}
.intro-block {
  width: calc(33vw);
  max-width: 450px;
  min-width: 350px;
  padding: 0 3% 3% 3%;
  margin: auto 0;
  text-align: center;
}
.intro-block > h1 {
  font-size: 80px;
  font-weight: bold;
}
.intro-block [class*='btn-']  {
  margin: 0 auto 25px auto;
}

.code-block {
  width: calc(40vw);
  max-width: 500px;
  line-height: 23px;
  padding: 0 2% 0 2%;
  margin: auto 0;
  box-shadow: 0 5px 15px -7px black;
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  color: black;
}
.code-block [class*='btn-'] {
  margin: 15px 0;
}
.code-box {
  min-height: 180px;
  font-family: Consolas;
  background-color: white;
  border-left: 4px solid var(--theme-color);
  padding: 8px;
}
.code-tag {color:rgb(49, 49, 214)}
.code-red {color:red}
.code-blue {color:blue}
.code-brown {color:rgb(185, 93, 17)}

.menu-content {
  position: absolute;
  width: 100%;
  height: 720px;
  background-color: rgb(40, 42, 53);
  /* background-color: black; */
}
.menu-category {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}
.menu-category > div {
  line-height: 80px;
  font-size: 35px;
  font-weight: bold;
  color: #FFF4A3;
  margin-left: 70px;
}
.menu-category > svg {
  padding: 20px;
}
.menu-category > svg:hover {
  cursor: pointer;
  background-color: white;
  color: black !important;
  transition: .2s;
}

.menu-wrapper {
  padding: 0 70px;
  height: calc(100% - 130px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.menu-group {
  width: 250px;
  margin-bottom: 15px;
}
.sub-title {
  color: #FFF4A3;
  font-size: 25px;
  font-weight: 500;
  line-height: 40px;
  padding-left: 10px;
}
.menu-names {
  color: white;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  padding-left: 10px;
}
.menu-names:hover {
  cursor: pointer;
  background-color: #ccc;
  color: black;
}